@icon-size: 24px;

html, body, #app-root {
  height: 100%;
  margin: 0;
}

.delete-button {
  padding-top: 1rem;
  padding-right: 1rem;
  cursor: pointer;

  img {
    width: @icon-size;
    height: @icon-size;
  }
}

.add-button {
  padding-top: 0.2rem;
  padding-right: 1rem;
  cursor: pointer;

  img {
    width: @icon-size;
    height: @icon-size;
  }
}