<div class="task" [ngClass]="getTaskTypeClass(task()?.Type)">
    <div class="task-header"></div>
    <div class="task-interaction">
        <div class="delete-button" (click)="deleteTask()">
            <img [src]="'assets/delete.png'" />
        </div>
        <div class="task-styling">
            <span class="title">
                {{ task()?.Title }}
            </span>
            <span class="description">
                {{ task()?.Description }}
            </span>
        </div>
    </div>
</div>