.board-container {
    height: 90vh;
    background-color: white;
    border-radius: 16px;
    padding: 1rem;
}

hr {
    color: #004767
}

.column-container {
    display: flex;
    justify-content: space-evenly;
    height: 85vh;
}

.column {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}