@if (column()) {
    <div class="column">
        <div class="column-styling">
            <div class="column-name">
                {{ column()?.Name }}
                <div class="add-button" (click)="addTask()">
                    <img [src]="'assets/plus.png'" />
                </div>
            </div>

            <div class="task-container">
                @for (task of column()?.Tasks; track task.Id) {
                    <app-task [task]="task"></app-task>
                }
            </div>
        </div>
    </div>
}