.column {
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: rgba(230, 230, 230, 0.83);
    border-radius: 4px;
    height: 85vh;
    padding-top: 0.5rem;
}

.column-name {
    font-size: larger;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: start;
}

.task-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.column-styling {
    width: inherit;
}
